## Q1. Load the "titanic" dataset using the load_dataset function of seaborn. Use Plotly express to plot a scatter plot for age and fare columns in the titanic dataset.

In [2]:
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
pip install plotly

Requirement already satisfied: plotly in /opt/conda/lib/python3.10/site-packages (5.22.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from plotly) (8.4.1)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from plotly) (22.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import plotly.express as px
fig = px.scatter(titanic , x = "age",y = "fare",title = "Titanic Dataset: Age vs Fare")

fig.update_layout(
    title = {
        'text':"Titanic Dataset: Age Vs Fare",
        'y':0.95,
        'x':0.5,
        'xanchor':'center',
        'yanchor':'top'
    
    
    }


)
fig.show()

## Q2. Using the tips dataset in the Plotly library, plot a box plot using Plotly express

In [10]:
import plotly.express as px
tips = px.data.tips()
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
fig = px.box(tips,x='day',y='total_bill',title = "Tips Dataset: Total Bill Box Plot")
fig.show()

## Q3. Using the tips dataset in the Plotly library, Plot a histogram for x= "sex" and y="total_bill" column in the tips dataset. Also, use the "smoker" column with the pattern_shape parameter and the "day" column with the color parameter.

In [ ]:
fig = px.histogram(tips, x="sex",y="total_bill",color = "day",pattern_shape="smoker",title = "Tips Dataset: Total Bill by Gender and Smoking status")
fig.show()

## Question 4: Using the iris dataset in the Plotly library, Plot a scatter matrix plot, using the "species" column for the color parameter.Note : Use "sepal_length", "sepal_width", "petal_length", "petal_width" columns only with the dimensions parameter.

In [ ]:
import plotly.express as px
iris = px.data.iris()
fig = px.scatter_matrix(iris,dimensions = ["sepal_length", "sepal_width", "petal_length", "petal_width"],
                       color = "species",title = "Iris Dataset")
fig.update_layout(height = 800)
fig.show()

## Question 5: What is Distplot? Using Plotly express, plot a distplot

#### A Displot or Distribution plot depicts the variation in the data distribution. Seaborn Displot represents the overall distribution of continuous data variables.The Seaborn module along with the Matplotlib module is used to object to depict the displot with different variations in it. The Distpolt depicts the data by a histogram and a line in combination to it.

In [ ]:
import plotly.express as px
tips = px.data.tips()
fig = px.histogram(tips, x="total_bill",y="tip",color = "sex",marginal = "box",hover_data = tips.columns)
fig.show()