Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system which we often call it as DBMS.
Data within the most common types of databases in operation today is typically modeled in rows and columns in a series of tables to make processing and data querying efficient. The data can then be easily accessed, managed, modified, updated, controlled, and organized. Most databases use structured query language (SQL) for writing and querying data.
1)SQL databases are relational, and NoSQL databases are non-relational.
2)SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
3)SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
4)SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
5)SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

Data Definition Language (DDL) is used to create and modify the structure of objects in a database using predefined commands and a specific syntax.
1)The CREATE TABLE command creates a new table in the database.
Example:-
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);
2)The ALTER TABLE command adds, deletes, or modifies columns in a table.
Example:-
ALTER TABLE Customers
ADD Email varchar(255);
3)The DROP TABLE command deletes a table in the database.
Example:-
DROP TABLE Shippers;
4)The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
Example:-
TRUNCATE TABLE Categories;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

The Full Form of DML is Data Manipulation Language. Data Manipulation Language (DML) is a programming language, also a category of SQL, applying useful table format and formulas for exchanging information, with the data limited to a point in the database, using SQL.
1)The INSERT INTO command is used to insert new rows in a table.
Example:-INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');
2)The UPDATE statement is used to modify the existing records in a table.
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;
3)The DELETE statement is used to delete existing records in a table.
DELETE FROM table_name WHERE condition;

Q4. What is DQL? Explain SELECT with an example.

DQL called as Data Query Language , a component of SQL statement that allows getting data from the database and imposing order upon it.
A select command is used to select the data which is present in the database
example:-SELECT * FROM DATABASE

Q5. Explain Primary Key and Foreign Key.

Primary Key:-A primary key is used to ensure data in the specific column is unique.
It uniquely identifies a record in the relational database table , Only one primary key is allowed in a table.
It is a combination of UNIQUE and Not Null constraints.
It does not allow NULL values.	
Foreign Key:-A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables .
It refers to the field in a table which is the primary key of another table .
Whereas more than one foreign key is allowed in a table .
It can contain duplicate values and a table in a relational database,It can also contain NULL values.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

import mysql.connector #connecting system with the database
# import mysql.connector
#create user 'user'@'%' identified by 'password'
connect_database = mysql.connector.connect(   #here we are connecting the database 
  host="localhost",
  user="abc",
  password="password"
)
mycursor = connect_database.cursor() # accessing the cursor to make the edits which acts as a 
mycursor.execute()

Q7. Give the order of execution of SQL clauses in an SQL query.

SELECT DISTINCT column, AGG_FUNC(column_or_expression), â€¦
FROM mytable
    JOIN another_table
      ON mytable.column = another_table.column
    WHERE constraint_expression
    GROUP BY column
    HAVING constraint_expression
    ORDER BY column ASC/DESC
    LIMIT count OFFSET COUNT;