Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
a = "Shubham"

In [3]:
print(type(a))

<class 'str'>

In [4]:
a = [1,3,42,5]

In [5]:
print(type(a))

<class 'list'>

In [6]:
a = 45.343

In [7]:
print(type(a))

<class 'float'>

In [8]:
a = (2,3,4,5)

In [11]:
print(type(a))

<class 'tuple'>

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.

In [12]:
var1 = ''
print(type(var1))

<class 'str'>

In [13]:
var2 = '[DS,ML,Python]'
print(type(var2))

<class 'str'>

In [14]:
var3 = ['DS' , 'ML','Python']
print(type(var3))

<class 'list'>

In [15]:
var4 = 1
print(type(var4))

<class 'int'>

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [16]:
#  i)  "/" Its an division operator used to perform arithmetic operations
a = 9/3
print(a)

3.0

In [17]:
# ii) "%" It is a modulus operator used to show the remainder
a = 12%4
print(a)

0

In [18]:
# iii) "//" It is a Floor Division Operator. The answer shows how many times a number is divided
a = 25//5
print(a)

5

In [19]:
# iv) "**" It is an Exponent Operator.
a = 2**5
print(a)

32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type

In [21]:
list1 = [1,89,54,45.64,"shub", "plant" , True , False , 56,'home']
for i in list1:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
89
<class 'int'>
54
<class 'float'>
45.64
<class 'str'>
shub
<class 'str'>
plant
<class 'bool'>
True
<class 'bool'>
False
<class 'int'>
56
<class 'str'>
home

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [3]:
numA = int(input("Enter Number A"))
numB = int(input("Enter Number B"))
Reps = 0
while numA%numB == 0:
    numA = numA/numB
    Reps = Reps +1
if Reps>0:
    print(f"{numA} divisions and The total Number of reps are {Reps}")
else:
    print("Invalid")

Enter Number A 35
Enter Number B 5

7.0 divisions and The total Number of reps are 1

In [29]:
35//5

7

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [17]:
list1 = [30,43,54,32,56,43,56,98,45,36,78,66,77,55,33,55,66,77,88,34,54,22,33,698,444]
for i in list1:
    if (i%3==0):
        print(f"Its Divisible by {i}")
    else:
        print(f"Its Not Divisible by {i}")

Its Divisible by 30
Its Not Divisible by 43
Its Divisible by 54
Its Not Divisible by 32
Its Not Divisible by 56
Its Not Divisible by 43
Its Not Divisible by 56
Its Not Divisible by 98
Its Divisible by 45
Its Divisible by 36
Its Divisible by 78
Its Divisible by 66
Its Not Divisible by 77
Its Not Divisible by 55
Its Divisible by 33
Its Not Divisible by 55
Its Divisible by 66
Its Not Divisible by 77
Its Not Divisible by 88
Its Not Divisible by 34
Its Divisible by 54
Its Not Divisible by 22
Its Divisible by 33
Its Not Divisible by 698
Its Divisible by 444

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

In [30]:
# Mutable are those data types in which the data at a particular index can be changed. Whereas, immutable are those data types where whole data can be changes having same variable but changing particular index cannot happen there
tuple1 = (4,5,6,7,4)
print(tuple1[0])
tuple1[0] = 5
print(tuple1[0])
# Whole Tuple can be changed but not the value of the tuple

4

TypeError: 'tuple' object does not support item assignment

In [25]:
list1 = [4,5,6,7,4]
print(list1[0])
list1[0] = 5
print(list1[0])

4
5